.theory-container {
    position: absolute;
    top: 10vh;
    left: 12.5vw;
    width: 75vw;
    height: 90vh;
    background-color: white;
    box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.10);
    border-radius: 3.5vw 3.5vw 0 0;
}

.theory-content {
    position: absolute;
    margin-left: 3%;
    margin-top: 2.5%;
    padding-left: 4%;
    padding-right: 6%;
    padding-bottom: 2.5%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
}

.theory-content::-webkit-scrollbar {
    width: 0.55vw;
    background-color: transparent;
}

.theory-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: calc(0.25vw);
}

.theory-content::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.theory-content::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: calc(0.25vw);
}

.theory-content a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: #0089ff;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 136, 255, .3);
}

.theory-content a:link {
    color: #003366;
}

.theory-content a:visited {
    color: #00509e;
}

.theory-content a:hover,
.theory-content a:focus {
    border-bottom: 1px solid rgba(0,136,255,.8)
}

.theory-content a:active {
    color: #b3d9ff;
}