.accordion {
    width: 100%;
    margin-top: 0.5vw;
}

.item {
    width: 68vw;
    border-radius: 1.7vw;
    background-color: white;
    padding-right: 2vw;
    margin-bottom: 4.4vw;
    box-shadow: var(--shadow-box);
}

.title {
    height: 7.68vw;
    aspect-ratio: 1152 / 130;
    cursor: pointer;
    display: flex;
    color: #333;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-main), serif;
    user-select: none;
}

.titleOpen {
    border-radius: 1.6vw 1.6vw 0 0;
}

.line {
    width: 36.4vw;
    height: 0.01vh;
    background-color: #333;
    margin: auto;
}

.stepCounter {
    font-size: 2.35vw;
    font-weight: bold;
    padding-left: 4.8vw;
    white-space: nowrap;
    line-height: 0;
}

.stepHeader {
    font-size: 1.8vw;
    margin-left: 1.5vw;
    margin-top: 0.44vw;
    line-height: 1.42857143;
}

.content {
    font-size: 1.5rem;
    padding: 0.7vw 0.7vw 1.2vw 5.45vw;
}

.toggle {
    margin-left: auto;
    line-height: 0;
    border: none;
}

.toggle img {
    cursor: pointer;
    width: 2.4vw;
    aspect-ratio: 1 / 1;
}