.accordion {
    width: 100%;
    margin-top: 5px;
}

.accordion-item {
    width: 1150px;
    border-radius: 30px;
    background-color: white;
    padding-right: 40px;
    margin-bottom: 75px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
}

.accordion-title {
    height: 130px;
    cursor: pointer;
    display: flex;
    color: #333;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Century Gothic', serif;
    user-select: none;
}

.accordion-line {
    width: 700px;
    height: 1px;
    background-color: #333;
    margin: auto;
}

.accordion-title.active {
    border-radius: 30px 30px 0 0;
}

.step-counter {
    font-size: 40px;
    font-weight: bold;
    padding-left: 7%;
    white-space: nowrap;
    line-height: 0;
}

.step-header {
    font-size: 30px;
    margin-left: 25px;
    margin-top: 7px;
    line-height: 1.42857143;
}

.accordion-content {
    padding-bottom: 20px;
    padding-left: 10%;
}

.accordion-toggle {
    margin-left: auto;
    line-height: 0;
    border: none;
}

.accordion-toggle img {
    cursor: pointer;
}