.accordion {
    width: 100%;
    margin-top: 2vw;
}

.accordion-item {
    border-radius: 1.5vw;
    background-color: white;
    padding-right: 2vw;
    margin-bottom: 6.9vh;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.25);
}

.accordion-title {
    width: 60vw;
    aspect-ratio: 1152 / 130;
    cursor: pointer;
    display: flex;
    color: #333;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Century Gothic', serif;
    user-select: none;
}

.accordion-line {
    width: 36.4vw;
    height: 0.01vh;
    background-color: #333;
    margin: auto;
}

.accordion-title.active {
    border-radius: 1.6vw 1.6vw 0 0;
}

.step-counter {
    font-size: 2vw;
    font-weight: bold;
    padding-left: 7vw;
    white-space: nowrap;
    line-height: 0;
}

.step-header {
    font-size: 1.5vw;
    margin-left: 1.3vw;
    margin-top: 0.64vh;
    line-height: 1.42857143;
}

.accordion-content {
    padding-bottom: 1.8vw;
    padding-left: 8vw;
    padding-right: 1vw;
}

.accordion-toggle {
    margin-left: auto;
    line-height: 0;
    border: none;
}

.accordion-toggle img {
    cursor: pointer;
    width: 2vw;
    aspect-ratio: 1 / 1;
}