.accordion {
    width: 100%;
    margin-top: 2vw;
}

.accordion-item {
    width: 68vw;
    border-radius: 1.7vw;
    background-color: white;
    padding-right: 2vw;
    margin-bottom: 4.4vw;
    box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.10);
}

.accordion-title {
    height: 7.68vw;
    aspect-ratio: 1152 / 130;
    cursor: pointer;
    display: flex;
    color: #333;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Century Gothic', serif;
    user-select: none;
}

.accordion-line {
    width: 36.4vw;
    height: 0.01vh;
    background-color: #333;
    margin: auto;
}

.accordion-title.active {
    border-radius: 1.6vw 1.6vw 0 0;
}

.step-counter {
    font-size: 2.35vw;
    font-weight: bold;
    padding-left: 4.8vw;
    white-space: nowrap;
    line-height: 0;
}

.step-header {
    font-size: 1.8vw;
    margin-left: 1.5vw;
    margin-top: 0.44vw;
    line-height: 1.42857143;
}

.accordion-content {
    font-size: 1.42vw;
    padding-bottom: 1.2vw;
    padding-left: 5.45vw;
    padding-right: 0.7vw;
}

.accordion-toggle {
    margin-left: auto;
    line-height: 0;
    border: none;
}

.accordion-toggle img {
    cursor: pointer;
    width: 2.4vw;
    aspect-ratio: 1 / 1;
}